*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color:#141519;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
}

.main-container, .result-main-container {
    background-color: #1D242E;
    width: 25rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.875rem;
}

.submit-btn{
    font-size: 0.9375rem;
    padding: 0.75rem 8.125rem; 
    background-color: hsl(25, 97%, 53%);
    border: 0rem;
    border-radius: 1.25rem;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.submit-btn:hover {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

p{
    color:hsl(217, 12%, 63%);
    font-size: 0.9375rem;
    line-height: 1.375rem;
}

.main-container{
    position: absolute;
    z-index: 3;
}

.result-main-container{
    position: absolute;
    z-index: 2;
}


.rating-main-container, .result-container {
    width: 85%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rating-main-container {
    height: 90%;
}

.result-container {
    height: 85%;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rating-numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
}

h1 {
    color: hsl(0, 0%, 100%);
}

.grey-circle, .rating-numbers {
    width:2.8125rem;
    height: 2.8125rem;
    background-color: #262F38;
    border-radius: 50%;
}

.grey-circle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-numbers:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

.rating-numbers:active{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.rating-numbers::after{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.result-container{
    align-items: center;
}

.notification {
    padding: 0.5rem 1.5625rem;
    background-color: #262F38;
    border-radius: 1.25rem;
}

.thank-you-text {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .main-container, .result-main-container{
        width: 21rem;
        height: 25rem;
    }

    .submit-btn{
        padding: 0.75rem 7rem; 
    }

    p {
        font-size: 0.9rem;
    }
}
